<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>En cours de maintenance</title>
    <link rel="stylesheet" href="style_maintenance.css">
</head>
<body>

    <header>
        <h1>NFL Stats</h1>
        <nav>
            <ul class="nav-bar">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/teams.html">Équipes</a></li>
                <li><a href="/maintenance.html">Joueurs</a></li>
                <li><a href="/maintenance.html">Calendrier</a></li>
                <li><a href="/maintenance.html">Classement</a></li>
                <li><a href="/rules.html">Règles</a></li>
            </ul>
        </nav>
    </header>

    <main>
  <div class="maintenance">
    <h2>En cours de maintenance</h1>
    <p>Nous sommes actuellement en train de mettre à jour notre site web. Veuillez nous excuser pour la gêne occasionnée.</p>
    <p>Nous reviendrons bientôt.</p>
  </div>
</main>
</body>
</html>