<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Section team</title>
    <link rel="stylesheet" href="style_team.css">
</head>
<body>

    <header>
        <h1>NFL Stats</h1>
        <nav>
            <ul class="nav-bar">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/teams.html">Équipes</a></li>
                <li><a href="/maintenance.html">Joueurs</a></li>
                <li><a href="/maintenance.html">Calendrier</a></li>
                <li><a href="/maintenance.html">Classement</a></li>
                <li><a href="/rules.html">Règles</a></li>
            </ul>
        </nav>
    </header>

    <section class="conferences">
        <h2>Conférences</h2>
        <div class="conference-afc">
            <h3>AFC</h3>
            <div class="division">
                <h4>AFC Nord</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/cincinnati-bengals.png" alt="Cincinnati Bengals">
                        </button>
                        <span class="team-name">Cincinnati Bengals</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/cleveland-browns.png" alt="Cleveland Browns">
                        </button>
                        <span class="team-name">Cleveland Browns</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/baltimore-ravens.png" alt="Baltimore Ravens">
                        </button>
                        <span class="team-name">Baltimore Ravens</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/pittsburgh-steelers.png" alt="Pittsburgh Steelers">
                        </button>
                        <span class="team-name">Pittsburgh Steelers</span>
                    </li>
                </ul>
            </div>
            <div class="division">
                <h4>AFC Est</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/buffalo-bills.png" alt="Buffalo Bills">
                        </button>
                        <span class="team-name">Buffalo Bills</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/miami-dolphins.png" alt="Miami Dolphins">
                        </button>
                        <span class="team-name">Miami Dolphins</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/new-england-patriots.png" alt="New England Patriots">
                        </button>
                        <span class="team-name">New England Patriots</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/new-york-jets.png" alt="New York Jets">
                        </button>
                        <span class="team-name">New York Jets</span>
                    </li>
                </ul>
            </div>
            
            <div class="division">
                <h4>AFC Sud</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/indianapolis-colts.png" alt="Indianapolis Colts">
                        </button>
                        <span class="team-name">Indianapolis Colts</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/jacksonville-jaguars.png" alt="Jacksonville Jaguars">
                        </button>
                        <span class="team-name">Jacksonville Jaguars</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/tennessee-titans.png" alt="Tennessee Titans">
                        </button>
                        <span class="team-name">Tennessee Titans</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/houston-texans.png" alt="Houston Texans">
                        </button>
                        <span class="team-name">Houston Texans</span>
                    </li>
                </ul>
            </div>
            
            <div class="division">
                <h4>AFC Ouest</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/denver-broncos.png" alt="Denver Broncos">
                        </button>
                        <span class="team-name">Denver Broncos</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/las-vegas-raiders.png" alt="Las Vegas Raiders">
                        </button>
                        <span class="team-name">Las Vegas Raiders</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/los-angeles-chargers.png" alt="Los Angeles Chargers">
                        </button>
                        <span class="team-name">Los Angeles Chargers</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/kansas-city-chiefs.png" alt="Kansas City Chiefs">
                        </button>
                        <span class="team-name">Kansas City Chiefs</span>
                    </li>
                </ul>
            </div>
            

        </div>


        <div class="conference-nfc">
            <h3>NFC</h3>
            <div class="division">
                <h4>NFC Nord</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/dallas-cowboys.png" alt="Dallas Cowboys">
                        </button>
                        <span class="team-name">Dallas Cowboys</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/new-york-giants.png" alt="New York Giants">
                        </button>
                        <span class="team-name">New York Giants</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/philadelphia-eagles.png" alt="Philadelphia Eagles">
                        </button>
                        <span class="team-name">Philadelphia Eagles</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/washington-commanders.png" alt="Washington Commanders">
                        </button>
                        <span class="team-name">Washington Commanders</span>
                    </li>
                </ul>
            </div>
            <div class="division">
                <h4>NFC Est</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/atlanta-falcons.png" alt="Atlanta Falcons">
                        </button>
                        <span class="team-name">Atlanta Falcons</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/carolina-panthers.png" alt="Carolina Panthers">
                        </button>
                        <span class="team-name">Carolina Panthers</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/new-orleans-saints.png" alt="New Orleans Saints">
                        </button>
                        <span class="team-name">New Orleans Saints</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/tampa-bay-buccaneers.png" alt="Tampa Bay Buccaneers">
                        </button>
                        <span class="team-name">Tampa Bay Buccaneers</span>
                    </li>
                </ul>
            </div>
            <div class="division">
                <h4>NFC Sud</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/arizona-cardinals.png" alt="Arizona Cardinals">
                        </button>
                        <span class="team-name">Arizona Cardinals</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/los-angeles-rams.png" alt="Los Angeles Rams">
                        </button>
                        <span class="team-name">Los Angeles Rams</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/san-francisco-49ers.png" alt="San Francisco 49ers">
                        </button>
                        <span class="team-name">San Francisco 49ers</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/seattle-seahawks.png" alt="Seattle Seahawks">
                        </button>
                        <span class="team-name">Seattle Seahawks</span>
                    </li>
                </ul>
            </div>
            <div class="division">
                <h4>NFC Ouest</h4>
                <ul class="teams">
                    <li>
                        <button class="team-button">
                            <img src="teams/green-bay-packers.png" alt="Green Bay Packers">
                        </button>
                        <span class="team-name">Green Bay Packers</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/minnesota-vikings.png" alt="Minnesota Vikings">
                        </button>
                        <span class="team-name">Minnesota Vikings</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/los-angeles-rams.png" alt="Los Angeles Rams">
                        </button>
                        <span class="team-name">Los Angeles Rams</span>
                    </li>
                    <li>
                        <button class="team-button">
                            <img src="teams/san-francisco-49ers.png" alt="San Francisco 49ers">
                        </button>
                        <span class="team-name">San Francisco 49ers</span>
                    </li>
                </ul>
            </div>
            
        </div>
    </section>
    
<footer>
    <p>Copyright NFL</p>
    <p>Tous droits réservés</p>
</footer>

</body>
</html>
